---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import WhatsAppFloat from '../components/WhatsAppFloat.astro';
import PrivacyContent from '../components/PrivacyContent.astro';
---

<Layout 
  title="Política de Privacidade - Plexus Perícias" 
  description="Política de Privacidade da Plexus Perícias, detalhando como coletamos, usamos e protegemos as informações dos usuários em nosso site."
>
  <Header />
    <main>
        <PrivacyContent />
    </main>
  <Footer />
  <WhatsAppFloat />
</Layout>




