<section class="cta-final" id="contato">
    <div class="container" style="text-align:center;max-width:740px">
        <span class="cta-final-slogan reveal">Ciência Médica, Verdade Jurídica.</span>
        <div class="cta-final-tag-wrapper reveal">
            <span class="section-tag" style="margin-bottom:16px">Domine a complexidade médica do caso!</span>
        </div>

        <h2 class="problem-v2-title reveal" data-delay="100" style="color:var(--white);margin-bottom:10px">Não deixe lacunas técnicas<br>no seu processo.</h2>
        <div class="problem-v2-underline reveal" data-delay="150" style="margin-bottom:18px"></div>

        <p class="cta-final-text reveal" data-delay="200">A condução técnica da perícia pode impactar diretamente o desfecho do processo. Atuar de forma estratégica é o que diferencia um risco jurídico de uma <strong style="color:var(--accent)">tese bem sustentada</strong>.</p>

        <div class="cta-final-buttons reveal" data-delay="300">
            <a href="#triagem" class="btn-whatsapp" rel="noopener noreferrer" onclick="gtag_report_conversion()" style="padding:16px 36px;font-size:14px;letter-spacing:1.5px">
                <svg class="icon"><use href="/icons.svg#whatsapp"/></svg>
                Solicitar análise do caso
            </a>
                <!-- <a href="mailto:contato@plexuspericias.com.br?subject=Envio%20de%20Caso%20-%20Plexus%20Per%C3%ADcias" class="btn-email" target="_blank" style="padding:16px 32px;font-size:14px;letter-spacing:1.5px">
                    <svg class="icon"><use href="/icons.svg#envelope"/></svg>
                    Enviar Caso por E-mail
                </a> -->
        </div>

    </div>
</section>
