<a href="https://wa.me/556130342602?text=Ol%C3%A1!%20Vim%20do%20site%20e%20gostaria%20de%20falar%20com%20a%20equipe%20Plexus." class="whatsapp-float" aria-label="Fale conosco no WhatsApp" onclick="gtag_report_conversion()" onclick="gtag_report_conversion()">
    <svg class="icon"><use href="/icons.svg#whatsapp"/></svg>
</a>    